<footer>
  <div class="inner">
    <h2>Say hey</h2>
    <p>If you're wanting to get in touch I'm pretty chatty over at
      <a class="footer-link" href="http://twitter.com/rachsmithtweets">Twitter</a>. Otherwise you can send me
      an email at contact at rachsmith dot com.</p>
    <p>If you're a fellow designer or dev with a question for me I'd love you to submit it over at my <a href="https://github.com/rachsmithcodes/ama">Github AMA</a>.</p>
    <p>Please note I am not looking for a new job and am not taking on any freelance work at this time so emailing me about that would just be a waste of your time :)</p>

  </div>
</footer>