@import 'base/normalize';
@import 'base/global';

body {
  font-size: 1.3em;
  line-height: 1.6;

  &.pattern-1 {
    background: url('../img/patterns/1-02.svg') #fff;
    background-size: 160px 160px;
  }

  &.pattern-2 {
    background: url('../img/patterns/2-03.svg') #fff;
    background-size: 200px 200px;
  }

  &.pattern-3 {
    background: url('../img/patterns/3-04.svg') #fff;
    background-size: 200px 200px;
  }

  &.pattern-4 {
    background: url('../img/patterns/4-05.svg') #fff;
    background-size: 200px 200px;
  }

  h2, h3, h4 {
    font-family: "adelle-sans", Arial, sans-serif;
    font-weight: bold;
  }

  p {
    margin-bottom: 1.2em;
  }

  header {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    box-sizing: border-box;
    padding: 30px;
  }

  main {
    max-width: 800px;
    margin: 0px auto 20px auto;
    background: #fff;
    box-sizing: border-box;
    padding: 30px;
  }

  .post-link {
    max-width: 800px;
    margin: 0px auto 20px auto;
    background: #fff;
    box-sizing: border-box;
    padding: 10px 30px;
    font-family: "ff-prater-script-web", Arial, sans-serif;
    font-size: 1.4rem;
  }
}

footer a {
  color: #8fd6f6;
}

