@import 'base/normalize';
@import 'base/global';

.home-header {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 40px;

    a {
        color: #57306f;
    }

    .background {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url('../img/patterns/0.svg');
        background-size: 240px 240px;
        opacity: 0.8;
    }

    h1, p {
        position: relative;
    }

    h1 {
        width: 100%;
        text-align: center;
        font-size: 4rem;
        margin-top: 100px;
        text-shadow: 5px 3px 0px rgba(255,255,255,1);

        a {
            color: #000;
            text-decoration: none;
        }
    }

    p {
        font-size: 1.2rem;
        margin: 10px 50px;
        text-shadow: 0.1rem 0.1rem 0px rgba(255,255,255,1);
    }
}

.ama {
    width: 100%;
    padding: 17px 0px 19px 0px;
    background: url('../img/glitter.gif') #B75CDE;
    text-align: center;
    font-size: 1.6rem;
    p {
        width: 100%;
        margin: 0;
        color: #fff;
        text-shadow: 0.17rem 0.17rem 0px #3A174C;
    }

    a {
        color: #fff;
    }
}

.posts {
    article {
        width: 33.33%;
        display: inline-block;
        float: left;
        height: 300px;
        padding: 20px;
        box-sizing: border-box;
        overflow: hidden;

        &.home-post {
            background: #3d3b7d;
            color: #eee;
            h3 {
                font-size: 1.6em;
                line-height: 1.5;
                margin-bottom: 5px;
                margin-top: 5px;
            }

            .published {
                font-size: 0.8em;
                margin: 0;
            }

            a {
                color: #eee;
                text-decoration: none;
            }

            &.link {
                color: #222;

                &.pattern-1 {
                    background: url('../img/patterns/1-02.svg') #fff;
                    background-size: 160px 160px;
                }

                &.pattern-2 {
                    background: url('../img/patterns/2-03.svg') #fff;
                    background-size: 200px 200px;
                }

                &.pattern-3 {
                    background: url('../img/patterns/3-04.svg') #fff;
                    background-size: 200px 200px;
                }

                &.pattern-4 {
                    background: url('../img/patterns/4-05.svg') #fff;
                    background-size: 200px 200px;
                }

                a {
                    color: #222;
                    text-decoration: none;
                }

                .published {
                    background: #fff;
                    padding: 2px;
                    display: inline-block;
                }

                .home-post-title {
                    background: #fff;
                    padding: 30px 12px 12px;
                    display: inline-block;

                    .icon {
                        width: 40px;
                        height: 40px;
                        float: left;
                        margin: -5px 20px 0px 17px;

                        &.codepen {
                            width: 60px;
                            height: 60px;
                            margin: -20px 20px -20px 0px;
                        }
                    }

                    .icon.link {

                    }
                }
            }
        }


    }

    .home-post-description {
        width: 100%;
        overflow: hidden;
        font-size: 0.9rem;
    }
}

footer a {
    color: #8fd6f6;
}